@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&family=Josefin+Sans&family=Kanit:wght@300&family=Martel+Sans&family=Yeseva+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Kanit', sans-serif, 'Josefin Sans', sans-serif, 'Martel Sans', sans-serif, 'Yeseva One', cursive, 'Expletus Sans', cursive, 'Courier New',
    monospace;
}
